{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
{% endfor %}

<h2>Welcome !</h2>
</br>
{% for user in users %}
    {% if user.id == current_user.id %}
        <div class="card">
            <div class="card-header">
                {{ current_user.name}}
            </div>
            <div class="card-body">
            <!-- <h5 class="card-title">Welcome to Dashboard..</h5> -->
                <p class="card-text">
                    <div class="container">
                        <div class="row">
                        <div class="col-8">
                            <strong>Name:</strong>{{ current_user.name}}</br>
                            <strong>Username:</strong>{{ current_user.username}}</br>
                            <strong>User Id:</strong>{{ current_user.id}}</br>
                            <strong>Email:</strong>{{ current_user.email}}</br>
                            <strong>favorite color:</strong>{{ current_user.favorite_color}}</br>
                            <strong>About Author</strong>{{ current_user.about_author}}</br>
                            <strong>Profile Pic</strong>{{ current_user.profile_pic}}</br>
                            <strong>Date Join</strong>{{ current_user.date_added}}</br>
                            <a href="{{ url_for('followers', username=user.username) }}"><p>{{ current_user.followers.count() }}</a> followers ,
                                <a href="{{ url_for('followed', username=user.username) }}">{{ current_user.followed.count() }}</a> following</p>
                            <p>Total Post by {{ current_user.username }}: {{ current_user.posts|length }}</p>
                            </p>
                            <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                            <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-secondary btn-sm">Update Profile</a>
                            <a href="{{ url_for('delete',id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
                            {% if not current_user.is_following(user) %}
                            <p>
                                <form action="{{ url_for('follow', username=user.username) }}" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.submit(value='Follow') }}
                                </form>
                            </p>
                            {% else %}
                            <p>
                                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                                    {{ form.hidden_tag() }}
                                    {{ form.submit(value='Unfollow') }}
                                </form>
                            </p>
                            {% endif %}

        
                        </div>
                        <div class="col-4"> 
                            {% if current_user.profile_pic %}
                            <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width="200" align="right">

                            {% else %}

                            <img src="{{ url_for('static', filename='images/download.png') }}" width="200" align="right">

                            {% endif %}

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    {% else %}

        <div class="card">
            <div class="card-header">
                {{ user.name}}
            </div>
            <div class="card-body">
            <!-- <h5 class="card-title">Welcome to Dashboard..</h5> -->
            <p class="card-text">
                <div class="container">
                <div class="row">
                    <div class="col-8">
                        <strong>Name:</strong>{{ user.name}}</br>
                        <strong>Username:</strong>{{ user.username}}</br>
                        <strong>User Id:</strong>{{ user.id}}</br>
                        <strong>Email:</strong>{{ user.email}}</br>
                        <strong>favorite color:</strong>{{ user.favorite_color}}</br>
                        <strong>About Author</strong>{{ user.about_author}}</br>
                        <strong>Profile Pic</strong>{{ user.profile_pic}}</br>
                        <strong>Date Join</strong>{{ user.date_added}}</br>
                        <a href="{{ url_for('followers', username=user.username) }}">{{ user.followers.count() }}</a> followers ,
                        <a href="{{ url_for('followed', username=user.username) }}">{{ user.followed.count() }}</a> following.
                        <p>Total Post by {{ user.username }}: {{ user.posts|length }}</p>
                    </p>
                    <!-- <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
                    <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-secondary btn-sm">Update Profile</a>
                    <a href="{{ url_for('delete',id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a> -->

                    {% if not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Follow') }}
                        </form>
                    </p>
                    {% else %}
                    <p>
                        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow') }}
                        </form>
                    </p>
                    {% endif %}
            
            </div>
            <div class="col-4"> 
            {% if user.profile_pic %}

                <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width="200" align="right">

            {% else %}

            <img src="{{ url_for('static', filename='images/download.png') }}" width="200" align="right">


            </div>
            </div>
            </div> 
        </div>
    </div>
    {% endif %}


{% endif %}

{% endfor %}




{% endblock %}
